.listWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.listWrapper:first-child {
    margin-top: 0;
}

.listButtons {
    align-self: flex-end;
    margin-top: 10px;
}

.listButtons>button {
    margin-left: 10px;
}

.list {
    display: flex;
    flex-direction: column;
}

.listItems {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.listItems::-webkit-scrollbar {
    display: none;
}

#noteListItems {
    max-height: calc(70vh - 108px);
}

#categoryListItems {
    max-height: calc(25vh - 60px);
}

.row {
    display: flex;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #0080802c;
    margin-top: 10px;
}

.header {
    background-color: teal;
    color: #fff;
    margin-top: 0;
}

.column {
    display: flex;
    align-items: center;
    padding: 0 5px 0 0;
}

.col1 {
    width: 65%;
}

.col2,
.col3,
.col4 {
    width: 10%;
}

.col5 {
    width: 5%;
}

.colSum1 {
    width: 60%;
}

.colSum2,
.colSum3 {
    width: 20%;
}

@media (max-width: 1280px) {
    .col1 {
        width: 63%;
    }

    .col5 {
        width: 7%;
    }
}

@media (max-width: 950px) {
    .col1 {
        width: 55%;
    }

    .col2,
    .col3,
    .col4 {
        width: 15%;
    }

    .col5 {
        width: 10%;
    }
}

@media (max-width: 650px) {
    .col1 {
        width: 43%;
    }

    .col2,
    .col3,
    .col4 {
        width: 20%;
    }

    .col5 {
        width: 12%;
    }
}

@media (max-width: 550px) {
    .row {
        flex-wrap: wrap;
    }

    .col1 {
        width: 100%;
    }

    .col2,
    .col3,
    .col4 {
        width: 25%;
    }

    .col5 {
        width: 25%;
    }

    .column {
        padding: 0;
    }
}